body{
	padding: 20px;
}

.container {
	width: 800px;
	display:block;
	margin: 0 auto;
	background-color: grey;
}

.menu{
	text-align: center;
	padding: 10px;
}

.menu ul li{
	display: inline-block;
	
}